params {
    references {
        'hg38' {
            bwaIndex               = "Homo_sapiens/GATK/GRCh38/Sequence/BWAIndex/Homo_sapiens_assembly38.fasta.64.{alt,amb,ann,bwt,pac,sa}"
            dbsnp                  = "Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz"
            dbsnpIndex             = "Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz.tbi"
            dict                   = "Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.dict"
            fasta                  = "Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta"
            fastaFai               = "Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta.fai"
            knownIndels            = "Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/{Mills_and_1000G_gold_standard.indels.hg38,Homo_sapiens_assembly38.known_indels}.vcf.gz"
            knownIndelsIndex       = "Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/{Mills_and_1000G_gold_standard.indels.hg38,Homo_sapiens_assembly38.known_indels}.vcf.gz.tbi"
            snpEffDb               = "SnpEff/data/GRCh38.86"
            snpEffConfig           = "SnpEff/snpEff.config"
        }
    }

    assays {
        'test_assay' {
            compatible_references  = ['hg38']
            intervals              = "test_assay/test_intervals.hg38.{bed,bed.gz,bed.gz.tbi}"
            annotationConfig       = "test_assay/config/*"
            xlsConfig              = "test_assay/config/xls_format.yaml"
        }
        'exome' {
            compatible_references  = ['hg38']
            intervals              = "exome/exome_analysis_target.chr.100bp.hg38.sorted.{bed,bed.gz,bed.gz.tbi}"
            annotationConfig       = "exome/config/*"
            xlsConfig              = "exome/config/xls_format.yaml"
        }
    }
}


profiles {
    docker {
        params {
            ref_base      = 'reference_data'
            assay_base    = 'assay_data'
            sample_base   = 'test_data'
        }
        docker {
            enabled = true
        }
        process {

            withLabel:alignment {
                container = "nkrumm/alignment:0.1--1de88cb"
                cpus = 2
                memory = 10.GB
            }
            withLabel:gatk_merge_and_markdups {
                container = "broadinstitute/gatk:4.1.6.0"
                cpus = 2
                memory = '8GB'
            }
            withLabel:gatk_base_recalibrator {
                container = "broadinstitute/gatk:4.1.6.0"
                cpus = 2
                memory = '8GB'
            }
            withLabel:gatk_haplotype_caller {
                container = "broadinstitute/gatk:4.1.6.0"
                cpus = 2
                memory = '8GB'
            }
            withLabel:gatk_genotype_gvcf {
                container = "broadinstitute/gatk:4.1.6.0"
                cpus = 2
                memory = '8GB'
            }
            withLabel:vcf_normalize {
                container = "quay.io/biocontainers/bcftools:1.10.2--h4f4756c_2"
                cpus = 1
                memory = '2GB'
            }
            withLabel:vcf_merge {
                container = "quay.io/biocontainers/bcftools:1.10.2--h4f4756c_2"
                cpus = 1
                memory = '2GB'
            }
            withLabel:strelka2 {
                container = "quay.io/biocontainers/strelka:2.9.10--0"
                cpus = 2
                memory = '8GB'
            }
            withLabel:gatk3_combine {
                container = "broadinstitute/gatk3:3.8-1"
                cpus = 2
                memory = '8GB'
            }
            withLabel:annotation {
                container = "nkrumm/annotation:latest"
                cpus = 2
                memory = '8GB'
            }
        }
    }

    uw_batch {
        
        params {
            ref_base      = 's3://uwlm-personal/nkrumm/references/GVP_v2'
            assay_base    = 's3://uwlm-personal/nkrumm/GVP_v2/assay_data'
            sample_base   = 's3://ncgl-prod.sample-bucket'
        }
        
        process {
            errorStrategy = 'ignore'

            withLabel:alignment {
                container = "nkrumm/alignment:0.1--1de88cb"
                cpus = 30
                memory = '60GB'
            }
            withLabel:gatk_merge_and_markdups {
                container = "broadinstitute/gatk:4.1.6.0"
                cpus = 16
                memory = '30GB'
            }
            withLabel:gatk_base_recalibrator {
                container = "broadinstitute/gatk:4.1.6.0"
                cpus = 4
                memory = '30GB'
            }
           withLabel:gatk_haplotype_caller {
                container = "broadinstitute/gatk:4.1.6.0"
                cpus = 4
                memory = '30GB'
            }
            withLabel:gatk_genotype_gvcf {
                container = "broadinstitute/gatk:4.1.6.0"
                cpus = 2
                memory = '8GB'
            }
            withLabel:vcf_normalize {
                container = "quay.io/biocontainers/bcftools:1.10.2--h4f4756c_2"
                cpus = 1
                memory = '4GB'
            }
            withLabel:vcf_merge {
                container = "quay.io/biocontainers/bcftools:1.10.2--h4f4756c_2"
                cpus = 1
                memory = '4GB'
            }
            withLabel:strelka2 {
                container = "quay.io/biocontainers/strelka:2.9.10--0"
                cpus = 2
                memory = '8GB'
            }
            withLabel:gatk3_combine {
                container = "broadinstitute/gatk3:3.8-1"
                cpus = 2
                memory = '8GB'
            }
            withLabel:annotation {
                container = "nkrumm/annotation:latest"
                cpus = 2
                memory = '8GB'
            }

        }
    }
}